@model MaestroDetalleDemo.Models.TB_DEMANDADO_PERSONA

@{ Layout = "~/Views/Shared/_LayoutPageModal.cshtml";}

@using (Ajax.BeginForm("registrarDetalle2", "Demandado", new AjaxOptions
{
    HttpMethod = "POST",
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "span",

}))
{<br />
    @Html.AntiForgeryToken()

 <div class="form-horizontal">
     <h4>Registro Persona</h4>
     <hr />
     @Html.ValidationSummary(true, "", new { @class = "text-danger" })
     <div class="form-group">
         @Html.LabelFor(model => model.COD_DADO, htmlAttributes: new { @class = "control-label col-md-2" })
         <div class="col-md-10">
             @Html.EditorFor(model => model.COD_DADO, new { htmlAttributes = new { @class = "form-control" } })
             @Html.ValidationMessageFor(model => model.COD_DADO, "", new { @class = "text-danger" })
         </div>
     </div>

     <div class="form-group">
         @Html.LabelFor(model => model.NOM_DADO, htmlAttributes: new { @class = "control-label col-md-2" })
         <div class="col-md-10">
             @Html.EditorFor(model => model.NOM_DADO, new { htmlAttributes = new { @class = "form-control" } })
             @Html.ValidationMessageFor(model => model.NOM_DADO, "", new { @class = "text-danger" })
         </div>
     </div>

     <div class="form-group">
         @Html.LabelFor(model => model.APEPAT_DADO, htmlAttributes: new { @class = "control-label col-md-2" })
         <div class="col-md-10">
             @Html.EditorFor(model => model.APEPAT_DADO, new { htmlAttributes = new { @class = "form-control" } })
             @Html.ValidationMessageFor(model => model.APEPAT_DADO, "", new { @class = "text-danger" })
         </div>
     </div>

     <div class="form-group">
         @Html.LabelFor(model => model.APEMAT_DADO, htmlAttributes: new { @class = "control-label col-md-2" })
         <div class="col-md-10">
             @Html.EditorFor(model => model.APEMAT_DADO, new { htmlAttributes = new { @class = "form-control" } })
             @Html.ValidationMessageFor(model => model.APEMAT_DADO, "", new { @class = "text-danger" })
         </div>
     </div>

     <div class="form-group">
         <div class="col-md-offset-2 col-md-10">
             <input type="submit" value="Create" class="btn btn-default" />
             @*<button type="button" class="btn btn-primary" onclick="llamarDemanda();" data-toggle="modal" data-target="#myModal_3">
                    Continuar
                </button>*@
         </div>
     </div>
     <span id="span"></span>
 </div>

    @*<script>
        function llamarDemanda() {
            var laURLDeLaVista = '@Url.Action("registrar", "Demanda")';
            $.ajax({
                cache: false,
                async: true,
                type: "GET",
                url: laURLDeLaVista,
                data: {},
                success: function (response) {
                    $('#resultado').html('');
                    $('#resultado').html(response);
                }
            });
        }
            </script>*@
}


